* {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font: 10px/1.5 Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background: url('images/mountain-river-forest-sky-landscapes.jpg') no-repeat
        center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='mages/mountain-river-forest-sky-landscapes.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/main_bg_2.jpg', sizingMethod='scale')";
    overflow-x: hidden;
  }

  #root {
    display: flex;
    flex-direction: column;
  }

@media (min-width: 480px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 600px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 600px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 801px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 1025px) {
    html {
        font-size: 20px;
    }
}

@media (min-width: 1281px) {
    html {
        font-size: 22px;
    }
}
