.create-post {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    padding: 2em 0;
}

.content-wrapper {
    padding: 2em 3em;
    flex-direction: column;
    text-align: center;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em 0.1em #aaa;
}

.content-wrapper h2 {
    padding-bottom: 0.5em;
}

.form-item:not(:last-child) {
    padding-bottom: 0.8em;
}

.landmark-title,
.location {
    width: 100%;
    border: 0;
    font-size: 0.8em;
    padding: 0.6em 2em;
    border-radius: 0.5em;
    outline: 1px solid #ddd;
}

.landmark-title-error,
.location-error {
    width: 100%;
    border: 0;
    font-size: 0.8em;
    padding: 0.6em 2em;
    border-radius: 0.5em;
    outline: 1px solid #cc0303;
}

.file-wrapper {
    background-color: #fff;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    border: 2px dotted #ccc;
    border-radius: 1em;
    transition: filter 0.2s ease-in;
    margin-bottom: 0.5em;
    align-items: center;
}

.file-wrapper-error {
    background-color: #fff;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    border: 2px dotted #cc0303;
    border-radius: 1em;
    transition: filter 0.2s ease-in;
    margin-bottom: 0.5em;
    align-items: center;
}

.file-wrapper:hover {
    filter: brightness(90%);
}

.error {
    color: #cc0303;
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 0.5em;
}

.file-input::file-selector-button {
    margin-right: 1.5em;
    border: none;
    background-color: #369;
    padding: 1em 1.2em;
    border-radius: 0.7em;
    color: #fff;
    cursor: pointer;
    transition: filter 0.2s ease-in-out;
}
.file-input::file-selector-button:hover {
    filter: brightness(90%);
}

.drop-title,
.file-wrapper i {
    padding-bottom: 1em;
}

.description {
    padding: 1em 2em;
    border: 0;
    border-radius: 1em;
    outline: 1px solid #ddd;
    resize: none;
}

.description-error {
    padding: 1em 2em;
    border: 0;
    border-radius: 1em;
    outline: 1px solid #cc0303;
    resize: none;
}

.input-button {
    width: 100%;
    padding: 0.6em 0;
    cursor: pointer;
    transition: filter 0.2s ease-in;
    border: 0;
    border-radius: 0.3em;
    background-color: #369;
    color: #fff;
}

.input-button:hover {
    filter: brightness(90%);
}

@media (width < 450px) {
    .content-wrapper {
        padding: 2em 0;
    }
}
