.wrapper {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* height: 100vh; */
    gap: 2em;
    padding-top: 2em;
    margin-bottom: 5em;
}

.wrapper article {
    color: #FFF;
    text-align: center;
    animation: 4s alternate slide-down;
}

.img-wrapper  {
    display: flex;
}

.img-wrapper ul {
    display: flex;
    gap: 1em;
}

.img-wrapper img {
    display: block;
    width: auto;
    height: 100%;
    position: relative;
}

.img-wrapper ul li {
    display: block;
    width: 10em;
    height: 25em;
    overflow: hidden;
    box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.2);
    transition: width 1s ease-in-out;
    border-radius: 0.3em;
    animation: 4s alternate slide-up;
}

.img-wrapper li:hover {
    width: 33em;
}

.img-wrapper li p {
    position: absolute;
    color: #FFF;
    font-weight: bold;
}

@keyframes slide-up {
    from {
        transform: translateY(110vh);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-10vh);
    }
    to {
        transform: translateY(0);
    }
}

.about-bulgaria {
    background-color: #FFF;
    padding: 0 2em 1em 2em;
    border-radius: 0.3em;
    animation: 4s alternate slide-down;
}

.about-bulgaria h3 {
    text-align: center;
    padding:0.6em 0 1em 0;
    font-size: 2em;
}

.banner {
    display: flex;
    justify-content: space-evenly;
}

.fa-icon {
    font-size: 4em;
    text-align: center;
}

.item-text {
    text-align: center;
}

