.catalog-section img {
    max-width: 100%;
    height: auto;
}

.catalog-section {
    background-color: #eee;
    padding: 2em 0;
    scroll-behavior: smooth;
}

.catalog-heading {
    text-align: center;
    padding-bottom: 1em;
    color: #369;
    font-weight: 900;
    font-size: 2em;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.no-posts {
    padding: 2em 0 2em 0;
    align-items: center;
}
