@keyframes slide-up {
    from {
        transform: translateY(110vh);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-10vh);
    }
    to {
        transform: translateY(0);
    }
}
