.login-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 3em 2em 1em 2em;
    border-radius: 1em;
    box-shadow: 0 0 0.4em 0.1em #aaa;
}

.heading {
    padding-bottom: 0.5em;
    text-align: center;
}

.section-heading {
    padding-bottom: 0.3em;
}

.greeting {
    font-size: 0.9em;
    color: #7a7a7a;
    margin-bottom: 1em;
}

.error-message-wrapper {
    background-color: #ddd;
    padding: 1em 2em 1em 2em;
    border-radius: 0.5em;
    margin-bottom: 1em;
    animation: 1s alternate show-up;
}

@keyframes show-up {
    from {
        transform: translateX(-3vw);
    }

    to {
        transform: translateX(0);
    }
}

.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
}

.email-wrapper,
.password-wrapper {
    margin-bottom: 2em;
}

.input-wrapper {
    display: flex;
    border-bottom: 1px solid #aaa;
    text-align: center;
}

.form-input {
    padding: 0.2em 0.5em 0.2em 0.5em;
    font-size: 0.9em;
    border: 0;
}

.form-input:focus {
    outline: none;
}

.show-hide-password-button {
    cursor: pointer;
}

.login-form i {
    color: #7c7c7c;
    width: 1.5em;
    height: 1.2em;
}

.error-message {
    font-size: 0.7em;
    color: #c50000;
}

.login-button {
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 2em;
    border: 1px solid #aaa;
    cursor: pointer;
    margin-bottom: 2em;
    transition: all 0.3s ease-in-out;
    font-size: 0.8em;
}

.login-button:hover {
    background-color: #369;
    color: white;
}

.create-account {
    background-color: #369;
    padding: 0.4em 0.8em 0.4em 0.8em;
    border-radius: 0.3em;
    font-size: 0.9em;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.create-account:hover {
    background-color: rgb(31, 65, 99);
}

.create-account a {
    color: #fff;
    text-decoration: none;
}
